:root {
  --color-one: #0d1b2a;
  --color-two: #1b263b;
  --color-three: #415a77;
  --color-four: #778da9;
  --color-five: #e0e1dd;
}

* {
  max-width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-two);
}

.navbar {
  background-color: var(--color-one) !important;
  color: white;
}

.navbar a {
  color: white;
}

/* about me */

.about-me {
  background-color: var(--color-five);
  align-items: center;
  height: 80vh;
}

.about-me-content {
  margin: 0 25px;
}

main h1,
h2 {
  font-size: 100px;
}

.about-me p {
  line-height: 2;
  font-size: 17px;
  color: var(--color-three);
}

.learn-more {
  background-color: var(--color-three);
  color: var(--color-five);
}

.learn-more:hover {
  font-size: larger;
  background-color: var(--color-five);
  border: 1px solid var(--color-one);
  color: var(--color-one);
  transition: 500ms;
}

#word-one {
  font-size: 155px;
  animation: fadeIn linear 5s;
}
#word-two {
  font-size: 55px;
  animation: fadeIn linear 10s;
}
#word-three {
  font-size: 30px;
  animation: fadeIn linear 6s;
}
#word-four {
  font-size: 80px;
  animation: fadeIn linear 5s;
}
#word-five {
  font-size: 100px;
  text-align: center;
  animation: fadeIn linear 10s;
}

/* projects */
.my-work {
  text-align: center;
  background-color: var(--color-three);
  color: var(--color-five);
  min-height: 50vh;
}

.project-btn {
  background-color: var(--color-four);
  color: var(--color-two);
  border: none;
  border-radius: 5px;
  font-size: 20px;
  margin: 30px 0;
  padding: 8px 8px;
}

.project-btn:hover {
  border: 1px solid var(--color-five);
  font-size: 22px;
  transition: 200ms;
}

.project-btn:focus {
  outline: none;
}

.hidden {
  display: none;
}

.project {
  text-align: left;
  height: 10em;
  line-height: 10em;
  margin: 10px 0;
}

.project p {
  font-size: 50px;
  font-weight: bold;
  color: var(--color-five);
  background: rgba(63, 62, 62, 0.6);
}
a:hover {
  text-decoration: none;
}

.project p:hover {
  background-image: none !important;
  background-color: var(--color-five);
  color: var(--color-one);
}

/* contact me */
footer {
  text-align: center;
  background-color: var(--color-four);
  border-top: 3px solid var(--color-one);
  color: var(--color-one);
}

footer h2 {
  font-size: 30px;
}

.contact-icons {
  justify-content: space-around;
  width: 50vw;
  margin: 0 auto;
}

.icons {
  max-width: 100px;
  margin-bottom: 50px;
}

.icons img {
  height: 60px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 1200px) {
  .words {
    display: none;
  }
}
